body {
    font-family: Arial, sans-serif;
    background-color: black;
}
header {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: #fdfdfd;
}

main {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #f2e3ce;
}

.section {
    margin: 12px;
}

.contraseñas {
    margin: 1em;
}

button {
    padding: 10px 20px;
    background-color: #a63f5a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer
}