body {
    background-color: rgb(97, 38, 38);
    initial-letter: Arial;

}

#form {
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    color: aliceblue;
    padding: 1em;
    border: 2.7px solid #d4abab;
}

#letterus {
    width: 100px;
    margin-left: 38%;
    margin-top: 5%;
    padding: 50px;
    font-family: cursive;
    background-color: rgb(39, 26, 26);
    color: rgb(255, 213, 213);
}

#nuevoSaldo {
    margin: 2px;
}

#buttonA {
    margin: 5px;

}

#buttonB {
    margin: 5px;

}